<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="mooore_geoip"
                   translate="label"
                   sortOrder="100"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>GeoIP</label>
                <field id="ipinfo_api_key"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>ipinfo.io API Key</label>
                </field>
            </group>
        </section>
    </system>
</config>
